body{
    font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
margin: 0;
} 

.paragraph-style{
    text-align: justify;
}

.button-style{
    color: #90fff6;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-image: linear-gradient(rgba(134, 72, 248, 0.904), rgba(245, 51, 187, 0.918));
    font-weight: 900;
    font-family:cursive;

}


/*start lion world */

.lions-world{
    display: flex;
    margin-bottom: 150px;
    background-image: url(others-images/top-banner.png);
    background-repeat: no-repeat;

}
.lions-world span{
    color: rgb(255, 53, 120);
}
.lion-half-width{
    width: 50%;
    padding-left: 5%;

}
.lion-half-width img{
    width: 85%;
}
/* finish lion world */


/*start tiger world */

.tiger-world{
    display: flex;
    margin-bottom: 150px;
    background-image: url(others-images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.tiger-world span{
    color: rgb(255, 60, 60);
}
.tiger-half-width{
    width: 50%;
    padding-right: 5%;
}
.tiger-half-width img{
    width: 85%;
    margin-left: 10%;
}
/* finish tiger world */

/*start elephant world */

.elephant-world{
    display: flex;
    margin-bottom: 150px;
    background-image: url(others-images/exp-bg.png);
    background-repeat: no-repeat;

}
.elephant-world span{
    color: rgb(250, 95, 229);
}

.elephant-half-width{
    width: 50%;
    padding-left: 5%;

}
.elephant-half-width img{
    width: 85%;
}
 /* finish elephant world */


 /* start deer world */
 .deer-world{
    display: flex;
    margin-bottom: 150px;
    background-image: url(others-images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.deer-world span{
    color: rgb(255, 60, 60);
}
.deer-half-width{
    width: 50%;
    padding-right: 5%;
}
.deer-half-width img{
    width: 85%;
    margin-left: 10%;
}

/* finish deer world */